.animatedContainer{
  position: relative;
  height: 100vh;
  background-color: rgb(223, 222, 222);
}

.img {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 300px;
  height: 300px;
  object-fit: contain;
  z-index: 1;
}

.upPart {
  height: 180px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  position: absolute;
  right: 0;
  bottom: 50%;
}

.downPart {
  height: 180px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  position: absolute; 
  right: 0;
  float: right;
  bottom: 30%;
}


.imgSmall {
  position: absolute;
  top: 35%;
  right: 40%;
  width: 150px;
  height: 300px;
  object-fit: contain;
  z-index: 1;
}

.upPartSmall {
  height: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  position: absolute;
  right: 0;
  bottom: 40%;
}

.downPartSmall {
  height: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  position: absolute; 
  right: 0;
  float: right;
  bottom: 30%;
}
